# DHT11 Temperature and Humidity Sensor Driver

config CUSTOM_DHT11
    bool "DHT11 temperature and humidity sensor"
    default n
    depends on SENSOR && GPIO
    help
      Enable driver for the dht11 temperature and humidity sensor.
      This driver depends on the GPIO subsystem being enabled.